.avatar {
    border: 1px solid rgba(0, 0, 0, .1);
}

.avatar-circle {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 10px;
}

.avatar-placeholder {
    background-color: #fecba1;
    color: #ca6510;
    font-weight: 400;
    display: grid;
    place-items: center;
}
