.open-client {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: calc(min(35rem, 100vw - 1rem));
    font-size: 20pt;
    font-weight: bold;
    color: var(--bs-info);
    text-align: center;
    line-height: 1.2;
}

.open-client .btn {
    margin-top: 2rem;
}
