@use 'mixins';

.open-client {
    @include mixins.pane;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: calc(min(35rem, 100vw - 1rem));
    padding: 2rem;
    font-size: 20pt;
    font-weight: bold;
    color: var(--bs-info);
    text-align: center;
    line-height: 1.2;
}

.open-client .btn {
    margin-top: 2rem;
}
