:root {
    /*
     * Bootstrap colors (for reference)
     *
     * --bs-gray-900: #212529;
     * --bs-gray-800: #343a40; (dark)
     * --bs-gray-700: #495057;
     * --bs-gray-600: #6c757d; (normal)
     * --bs-gray-500: #adb5bd; (medium)
     * --bs-gray-400: #ced4da; (light)
     * --bs-gray-300: #dee2e6;
     * --bs-gray-200: #e9ecef; (ultralight)
     * --bs-gray-100: #f8f9fa;
     *
     * --bs-blue-600: #0a58ca;
     * --bs-blue-200: #9ec5fe;
     * --bs-blue-100: #cfe2ff;
     *
     * --bs-green-400: #479f76;
     */

    /* Design colors */
    --brand-50: #eefafa;
    --violet-800: #3d4170;
    --violet-600: #515795;
    --gray-100-transparent: rgb(0 0 0 / 3%);

    /* Page body color */
    --body-bg: var(--bs-gray-200);

    /* Verification colors */
    --verifying: var(--bs-brand-400);
    --correct: forestgreen;
    --incorrect: var(--bs-red);

    /* Other elements' colors */
    --reactions-positive: #e9fce5;
    --reactions-negative: #feeff0;
    --comments: #f8faff;
    --subject: #385898;
    --invitation: #7bedf4;
}
