#comments {
    border-top: 1px solid var(--bs-gray-400);
    margin-top: .5rem;
    padding-top: 1rem;

    SUMMARY {
        font-size: large;
        color: var(--bs-primary);
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

#comments-original {
    border-top: 1px solid var(--bs-gray-400);
    border-bottom: 1px solid var(--bs-gray-400);
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
}

.comment {
    position: relative;
    margin-bottom: .6rem;
    width: max-content;
    max-width: 100%;
    display: flex;

    .details {
        flex: auto;
        margin-left: .25rem;
        max-width: calc(100% - .25rem - 36px);
    }

    .owner {
        margin-left: .3em;
        font-weight: bold;

        A {
            color: var(--node-name);
        }
    }

    &.topic-starter .owner A {
        color: var(--node-name-ts);
    }

    .date {
        font-size: 0.8rem;
        font-weight: normal;
        color: var(--bs-gray-500);
        margin-left: 0.5em;

        A {
            color: inherit;
        }
    }

    .content {
        border-radius: 5px;
        box-sizing: content-box;
        padding: .5rem 0;
        width: 100%;
        overflow-wrap: break-word;
        text-align: start;

        P {
            margin-top: 1rem;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        IMG, IFRAME {
            max-width: calc(min(100vw - 7rem, var(--feed-width) - 6.5rem, var(--width, 100vw)));
            max-height: calc(min(16rem, var(--height, 200vh)));
        }

        IMG:not(.emoji) {
            width: auto;
            height: auto;
        }

        FIGURE {
           display: inline-block;
        }

        FIGCAPTION {
            font-size: .875em;
            line-height: 1.5;
            margin-top: .5em;
            color: var(--bs-secondary);
            max-width: calc(var(--width) * 1.05);
        }

        .read-more {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-top: 0;
        }

        .replied-to {
            margin-bottom: .3rem;
            font-size: 90%;
            border-left: 3px var(--bs-gray-400) solid;
            padding-left: .5em;

            A {
                text-decoration: none;
            }

            .icon {
                color: var(--bs-gray-500);
            }

            .node-name {
                color: var(--bs-gray-600);
                font-weight: bold;
                position: relative;
                top: -.1em;
            }

            .heading {
                color: var(--bs-gray-600);
                position: relative;
                top: -.1em;
                margin-left: .3em;
            }

            A:hover .heading {
                text-decoration: underline;
            }
        }
    }

    &.focused .content {
        border: dashed 1px var(--bs-primary);
    }

    .reactions-line {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 1.65em;
        color: var(--bs-gray-400);
        font-size: .75rem;
    }

    .reactions {
        flex: none;
        font-size: .8rem;
        margin-right: .3rem;
        position: relative;
        top: -.9rem;

        .positive {
            margin-right: 0;
            margin-left: .7em;
            padding: .4em .9em;
        }

        .negative {
            margin-left: 1em;
            padding: .4em .9em;
        }
    }
}
