.fallback {
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem 0 6rem;

    .caption {
        font-family: var(--font-messages), sans-serif;
        font-weight: 600;
        font-size: 2rem;
        line-height: 125%;
        color: var(--bs-gray-900);
        margin-bottom: .25rem;
    }

    .instructions {
        font-weight: 400;
        line-height: 150%;
        color: var(--bs-gray-600);

        & ~ .btn {
            margin-top: 1.5rem;
        }
    }
}
