A.link-preview, DIV.link-preview {
    background-color: var(--bs-gray-200);
    color: black;
    border: solid 1px var(--bs-gray-400);
    vertical-align: top;
    margin-bottom: .25rem;
}

DIV.link-preview {
    position: relative;
}

@media only screen and (min-width: 992px) {
    A.link-preview, DIV.link-preview {
        display: inline-flex;
        width: calc(50% - .25rem);
        margin-right: .25rem;
    }

    .comment A.link-preview, .comment DIV.link-preview {
        width: 400px;
    }
}

@media only screen and (max-width: 991px) {
    A.link-preview, DIV.link-preview {
        display: flex;
    }

    A.link-preview {
        width: 99.6vw;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    DIV.link-preview {
        width: calc(99.6vw - 2rem);
        margin-left: -.5rem;
        margin-right: -.5rem;
    }

    .comment A.link-preview, .comment DIV.link-preview {
        width: calc(100vw - 32px);
    }

    .comment A.link-preview {
        width: calc(100vw - 32px);
        margin-left: -.25rem;
    }

    .comment DIV.link-preview {
        width: calc(100vw - 32px);
        margin-left: -4rem;
    }
}

A.link-preview:hover {
    background-color: var(--bs-gray-300);
}

A.link-preview.large, DIV.link-preview.large {
    flex-direction: column;
}

A.link-preview.small, DIV.link-preview.small {
    font-size: .875rem;
}

.entry A.link-preview, .entry A.link-preview:hover {
    text-decoration: none;
}

.link-preview .details {
    flex: auto;
    padding: .5rem 1rem;
    overflow-wrap: anywhere;
}

.link-preview .title {
    font-weight: bold;
    font-size: 1.05em;
    line-height: 1.1;
    margin-bottom: .25em;
}

.link-preview .site {
    margin-top: .25em;
    color: var(--bs-gray-600);
    font-size: .9em;
}

.link-preview .description {
    color: var(--bs-gray-800);
    line-height: 1.2;
}

.link-preview .site .bullet {
    margin-left: .25em;
    margin-right: .25em;
}

.link-preview IMG {
    flex: none;
    object-fit: contain;
    object-position: top;
}

.link-preview IMG.vertical {
    object-fit: cover;
    object-position: center;
}

@media only screen and (min-width: 992px) {
    .link-preview IMG {
        width: 150px;
        height: auto;
        max-height: 150px;
    }

    .link-preview.large IMG {
        width: 100%;
        max-height: 350px;
    }
}

@media only screen and (max-width: 991px) {
    .link-preview IMG {
        width: 30vw;
        height: auto;
        max-height: 30vw;
    }

    A.link-preview.large IMG {
        width: 99.5vw;
        max-height: 67vw;
    }

    DIV.link-preview.large IMG {
        width: calc(99.5vw - 1rem);
        max-height: calc(67vw - .6rem);
    }
}
