@mixin pane {
    background-color: white;
    border: var(--bs-gray-400) 1px solid;
    border-radius: 5px;

    @media only screen and (max-width: 575px) {
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
    }
}
