.people {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;
    min-height: 25vh;

    .nav.nav-pills {
        --bs-nav-tabs-link-active-color: var(--bs-gray-800);
        --bs-nav-link-color: var(--bs-gray-600);
        --bs-nav-link-hover-color: var(--bs-gray-700);
        --bs-nav-pills-border-radius: 2rem;

        .nav-link .badge {
            background-color: var(--bs-gray-100);
            color: var(--bs-gray-600);
            margin-left: .75em;
            vertical-align: .075em;
        }
    }

    .people-content {
        display: flow-root;
        padding: 1rem;
        min-height: 25vh;

        @media only screen and (max-width: 991px) {
            border-radius: 0;
        }
    }

    .person {
        margin-bottom: .5rem;
        padding: .25rem .5rem .25rem .25rem;
        border-radius: .25rem;
        display: grid;
        grid-template:
            " avatar      details" min-content
            / min-content auto;

        @media only screen and (max-width: 991px) {
            padding-right: 0;
        }

        &:hover {
            background-color: var(--bs-gray-100);
        }

        .avatar {
            margin: .25rem .75rem .25rem 0;
            grid-area: avatar;
        }

        .details {
            grid-area: details;
            overflow-x: hidden;

            .full-name {
                display: block;
                font-weight: 600;
                font-size: 1.14rem;
                line-height: 150%;
                color: var(--bs-gray-800);
                overflow-x: hidden;
                text-overflow: ellipsis;

                @media only screen and (max-width: 991px) {
                    font-size: 1rem;
                }
            }

            .name {
                display: block;
                color: var(--bs-gray-600);
                font-size: .88rem;
                line-height: 143%;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}
