@use 'mixins';

.people {
    @include mixins.pane;
    padding: 1rem;
    min-height: 25vh;

    .people-tabs {
        display: flex;
        margin-top: -.5em;
        margin-bottom: 1.5em;

        .tab {
            flex: 1;
            max-width: 10em;
            padding: .3rem;
            font-size: larger;
            margin-right: 1rem;
            color: var(--bs-gray-600);
            white-space: nowrap;
        }

        A.tab {
            text-decoration: none;

            &:hover {
                color: var(--bs-gray-800);
            }
        }

        DIV.tab {
            color: var(--bs-primary);
            cursor: default;
            border-bottom: solid .25rem var(--bs-primary);
        }

        .rest {
            flex: auto;
        }
    }

    .person {
        margin-bottom: .3rem;
        margin-right: .5rem;

        .avatar {
            display: inline-block;
            margin-right: .5rem;
        }

        A.node-name:hover {
            text-decoration: underline;
        }
    }

    .node-name {
        font-weight: bold;
    }
}
