.posting {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 1rem;
    margin-top: 1rem;

    @media only screen and (max-width: 991px) {
        margin-top: .75rem;
        padding: 1rem 1rem .5rem;
    }

    .badges-line {
        font-size: .8rem;
        margin-bottom: .75rem;

        .pinned {
            margin-right: .5em;
        }
    }

    A.posting-source {
        color: var(--bs-gray-500);
        margin-left: -.1em;
        margin-right: .3em;
        position: relative;
        top: -.1em;

        &:hover {
            color: var(--bs-gray-800);
        }
    }


    & > .owner-line {
        margin-bottom: 1.25rem;
        margin-top: -.1rem;
        display: flex;

        .owner-info {
            flex: auto;
            margin-left: 1rem;
            line-height: 1;
        }

        .owner {
            font-weight: 600;
            margin-right: .5em;
            line-height: 150%;

            .arrow {
                color: var(--bs-gray-500);
            }

            & > A {
                color: var(--bs-gray-900);
            }
        }

        .date {
            font-size: .75rem;
            color: var(--bs-gray-600);
            line-height: 133%;
        }
    }

    .subject {
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 1.2;
        margin-bottom: .5rem;
        color: var(--subject);
        overflow-wrap: break-word;

        A {
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
        }
    }

    & > .content {
        overflow-wrap: break-word;
        text-align: start;

        P {
            margin-top: 1rem;

            &:first-child {
                margin-top: 0;
            }
        }

        IMG:not(.emoji) {
            width: auto;
            height: auto;
        }

        IMG, IFRAME {
            max-width: calc(min(100vw - 4rem, var(--feed-width) - 3.5rem, var(--width, 100vw)));
            max-height: var(--height, 200vh);
        }

        FIGURE {
           display: inline-block;
        }

        FIGCAPTION {
            font-size: .875em;
            line-height: 1.5;
            margin-top: .5em;
            color: var(--bs-secondary);
            max-width: calc(var(--width) * 1.05);
        }

        .read-more {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-top: 0;
        }
    }

    &.preview > .content {
        overflow-y: auto;

        @media only screen and (max-width: 991px) {
            max-height: 170vh;
        }

        @media only screen and (min-width: 992px) {
            max-height: 100vh;
        }

        IMG, IFRAME {
            max-height: calc(min(35rem, var(--height, 200vh)));
        }
    }

    & > .reactions-line {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: .75rem;
    }

    .posting-comments {
        padding-top: .4rem;
    }

    .total-comments {
        text-decoration: none;
        background-color: var(--comments);
        border-radius: .8rem;
        padding: .4rem 1rem;
    }
}
