.profile-view {
    display: flow-root;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;

    .avatar {
        display: block;
        margin-bottom: .5rem;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (min-width: 576px) {
            float: left;
            margin-left: unset;
            margin-right: 1.5rem;
        }
    }

    .full-name {
        font-size: x-large;
        font-weight: bold;

        .gender {
            font-size: medium;
            font-weight: normal;
            font-style: italic;
        }
    }

    .name {
        color: var(--bs-gray-600);
    }

    & > .title {
        font-size: larger;
        margin-top: .2em;
    }

    .bio {
        margin-top: 1em;
    }
}
