.reactions {
    font-size: .9rem;
    font-weight: 600;
    padding-top: .2em;
    padding-left: .2em;
    margin-top: .2em;

    .emojis {
        font-family: sans-serif;
        font-size: 1.1em;
        margin-right: .55em;
    }

    & .positive, & .negative {
        border-radius: .9em;
        padding: .44em 1.1em;
    }

    .positive {
        margin-right: 1.45em;
        color: var(--correct);
        background-color: var(--reactions-positive);
    }

    .negative {
        color: var(--incorrect);
        background-color: var(--reactions-negative);
    }

    & .senior-positive, & .senior-negative {
        border-radius: 1em;
        font-size: 1.3em;
        padding: .35em .4em .4em;
    }

    .senior-positive {
        color: var(--correct);
        background-color: var(--reactions-positive);
    }

    .senior-negative {
        color: var(--incorrect);
        background-color: var(--reactions-negative);
    }
}
