@use 'mixins';

.registration-form {
    @include mixins.pane;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .title {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 1.5rem;

        EM {
            color: var(--bs-green);
        }
    }

    #host {
        width: 25%;
    }

    .domain {
        font-weight: 500;
        font-size: large;
    }
}

.registration-next {
    @include mixins.pane;
    padding: 1rem;

    H1 {
        color: var(--bs-green);
    }
    LI {
        font-size: 1.2rem;
    }
}
