@use "sass:meta";
@use 'colors';
@use 'zindex';

:root:root {
    scroll-behavior: auto;
    --bs-font-sans-serif: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
                          sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

HTML {
    font-size: 90%;
}

BODY {
    background-color: var(--body-background);
    padding-bottom: 2rem;
}

A, .btn-link {
    text-decoration: none;
}

.container {
    max-width: var(--feed-width);

    @media only screen and (max-width: 575px) {
        padding-left: 0;
        padding-right: 0;
    }
}

H2 .avatar-link {
    margin-right: .15em;
}

.emoji {
    width: 1em;
    height: 1em;
}

.alert.moera-addon {
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-bottom: 0;
}

.navbar-moera {
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .node-name {
        color: var(--cyan-light);
        font-weight: bold;
        margin-right: .5rem;
    }

    A.navbar-text:hover {
        text-decoration: none;
    }
}

@media (max-width: 767px) {
    #navbarNav {
        position: absolute;
        padding-right: 1rem;
        top: 2.5em;
        right: 0;
        box-shadow: 0 .125rem .25rem var(--shadow);
        border: solid 1px var(--bs-gray-600);
    }
}

SUB.generation {
    position: relative;
    left: .2em;
    font-size: 60%;
    font-weight: 400;
}

.no-postings {
	font-weight: bold;
	color: var(--bs-gray-400);
	font-size: 4rem;
	margin-top: 5rem;
}

.pagination {
    margin-top: 1rem;

    .page-link.page-dots {
        border-top: none;
        border-bottom: none;
        background-color: inherit;
    }
}

@include meta.load-css('avatar');
@include meta.load-css('entry');
@include meta.load-css('gallery');
@include meta.load-css('posting');
@include meta.load-css('people');
@include meta.load-css('reactions');
@include meta.load-css('gallery_reactions');
@include meta.load-css('link_preview');
@include meta.load-css('comment');
@include meta.load-css('client');
@include meta.load-css('profile');
