@use 'avatar';
@use 'colors';
@use 'comment';
@use 'desktop_back';
@use 'entry';
@use 'fallback';
@use 'gallery';
@use 'gallery_reactions';
@use 'link_preview';
@use 'page_title';
@use 'people';
@use 'posting';
@use 'profile';
@use 'reactions';
@use 'zindex';

@font-face {
    font-family: Montserrat;
    src: url("/webfonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/webfonts/Montserrat-SemiBold.woff") format('woff');
    font-weight: 700;
}

:root:root {
    scroll-behavior: auto;

    --bs-font-sans-serif: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
                          sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-messages: "Montserrat", var(--bs-font-sans-serif);
}

HTML {
    font-size: 90%;
}

BODY {
    background-color: var(--body-bg);
    padding-bottom: 3rem;

    @media only screen and (max-width: 991px) {
        padding-bottom: 6rem;
    }
}

A, .btn-link {
    text-decoration: none;
}

DETAILS {
    cursor: pointer;
}

DETAILS[open] {
    cursor: unset;
}

BLOCKQUOTE {
    border-left: 3px solid var(--bs-primary);
    padding: .2rem .2rem .2rem 2.7rem;
    position: relative;
    overflow: hidden;
}

BLOCKQUOTE BLOCKQUOTE {
    padding-left: 1.5rem;
}

BLOCKQUOTE:not(BLOCKQUOTE BLOCKQUOTE)::before {
    content: "\201C";
    font-family: serif;
    font-size: 4rem;
    color: var(--bs-primary);
    position: absolute;
    left: .5rem;
    top: -1.5rem;
}

BLOCKQUOTE BLOCKQUOTE:last-child, BLOCKQUOTE P:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    BLOCKQUOTE {
        border-left-width: 2px;
        padding-left: 2.4rem;
    }

    BLOCKQUOTE BLOCKQUOTE {
        padding-left: 1.2rem;
    }

    BLOCKQUOTE:not(BLOCKQUOTE BLOCKQUOTE)::before {
        font-size: 3.5rem;
        left: .45rem;
        top: -1.4rem;
    }
}

.container {
    max-width: var(--feed-width);

    @media only screen and (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.emoji {
    width: 1em;
    height: 1em;
}

#invitation-alert {
    width: 100%;
    background-color: var(--invitation);
    font-weight: 400;
    line-height: 2;
    color: var(--bs-gray-900);
    display: grid;
    place-items: center;
    text-align: center;

    @media only screen and (min-width: 992px) {
        position: sticky;
        top: 4.25rem;
        height: 3.5rem;
        z-index: var(--zindex-invitation-alert);
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 991px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 6rem;
        z-index: var(--zindex-page-header);
    }
}

.navbar {
    --bs-navbar-padding-x: 2rem;
    --bs-navbar-padding-y: .6rem;
    --bs-navbar-brand-margin-end: 1.5rem;
    --bs-nav-link-font-size: 1.2rem;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-focus-width: 0;

    @media only screen and (max-width: 991px) {
        margin-bottom: 1rem;
    }

    .navbar-toggler {
        margin-right: -1.5rem;
    }
}

@media (max-width: 991px) {
    #navbarNav {
        position: fixed;
        padding-right: 1rem;
        top: 4.5rem;
        right: .5rem;
        box-shadow: 0 .125rem .25rem var(--shadow);
        border: solid 1px var(--bs-gray-400);
        border-radius: .5rem;
    }
}

SUB.generation {
    position: relative;
    left: .2em;
    font-size: 60%;
    font-weight: 400;
}

.no-postings {
	font-weight: bold;
	color: var(--bs-gray-400);
	font-size: 4rem;
	margin-top: 5rem;
}

.pagination {
    margin-top: 1rem;

    .page-link.page-dots {
        border-top: none;
        border-bottom: none;
        background-color: inherit;
    }
}

.btn-tool-round {
    --bs-btn-color: var(--bs-gray-700);
    --bs-btn-bg: var(--bs-gray-100);
    --bs-btn-border-color: var(--bs-gray-100);
    --bs-btn-hover-color: var(--bs-gray-900);
    --bs-btn-hover-bg: var(--bs-gray-200);
    --bs-btn-hover-border-color: var(--bs-gray-300);
    --bs-btn-active-color: var(--bs-gray-900);
    --bs-btn-active-bg: var(--bs-gray-100);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-gray-400);
    --bs-btn-disabled-bg: var(--bs-gray-100);
    --bs-btn-disabled-border-color: var(--bs-gray-100);
    --bs-btn-border-radius: 50%;
    --bs-btn-padding-x: .375em;
    --bs-btn-padding-y: .25em;
}
