@use "sass:meta";
@use 'colors';
@use 'zindex';

:root:root {
    scroll-behavior: auto;

    --bs-font-sans-serif: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
                          sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

HTML {
    font-size: 90%;
}

BODY {
    background-color: var(--body-bg);
    padding-bottom: 3rem;
}

A, .btn-link {
    text-decoration: none;
}

.container {
    max-width: var(--feed-width);

    @media only screen and (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
    }
}

H2 .avatar-link {
    margin-right: .15em;
}

.emoji {
    width: 1em;
    height: 1em;
}

#invitation-alert {
    width: 100%;
    background-color: var(--invitation);
    font-weight: 400;
    line-height: 2;
    color: var(--bs-gray-900);
    display: grid;
    place-items: center;
    text-align: center;

    @media only screen and (min-width: 992px) {
        position: sticky;
        top: 4.25rem;
        height: 3.5rem;
        z-index: var(--zindex-invitation-alert);
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 991px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 6rem;
        z-index: var(--zindex-page-header);
    }
}

.navbar {
    --bs-navbar-padding-x: 2rem;
    --bs-navbar-padding-y: .6rem;
    --bs-navbar-brand-margin-end: 1.5rem;
    --bs-nav-link-font-size: 1.2rem;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-focus-width: 0;

    @media only screen and (max-width: 991px) {
        margin-bottom: 1rem;
    }

    .node-name {
        color: var(--cyan-light);
        font-weight: bold;
        margin-right: .5rem;
    }

    A.navbar-text:hover {
        text-decoration: none;
    }

    .navbar-toggler {
        margin-right: -1.5rem;
    }
}

@media (max-width: 991px) {
    #navbarNav {
        position: fixed;
        padding-right: 1rem;
        top: 4.5rem;
        right: .5rem;
        box-shadow: 0 .125rem .25rem var(--shadow);
        border: solid 1px var(--bs-gray-400);
        border-radius: .5rem;
    }
}

SUB.generation {
    position: relative;
    left: .2em;
    font-size: 60%;
    font-weight: 400;
}

.no-postings {
	font-weight: bold;
	color: var(--bs-gray-400);
	font-size: 4rem;
	margin-top: 5rem;
}

.pagination {
    margin-top: 1rem;

    .page-link.page-dots {
        border-top: none;
        border-bottom: none;
        background-color: inherit;
    }
}

@include meta.load-css('avatar');
@include meta.load-css('entry');
@include meta.load-css('gallery');
@include meta.load-css('posting');
@include meta.load-css('people');
@include meta.load-css('reactions');
@include meta.load-css('gallery_reactions');
@include meta.load-css('link_preview');
@include meta.load-css('comment');
@include meta.load-css('client');
@include meta.load-css('profile');
