<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/pics/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/pics/icon-apple-touch.png">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/fontawesome-all.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/registrar.js"></script>
        <title>Get a blog | Moera</title>
    </head>
    <body>
        <div class="ml-3 mt-3">{{image "/pics/logo-64.png" alt="Moera"}}</div>
        <div class="container">
