server:
  port: 8081  # Server port

spring:
  # DataSource settings
  datasource:
    url: jdbc:postgresql:moera_node?characterEncoding=UTF-8
    username: moera
    password: moera

  flyway:
    user: moera
    password: moera
    table: schema_history
    baseline-on-migrate: true
    validate-on-migrate: false # To be able to adjust DB schema without validation errors

  jackson:
    serialization:
      fail-on-empty-beans: false

  jpa:
    open-in-view: false
    show-sql: false  # Show or not log for each sql query
    hibernate:
      ddl-auto: none  # Hibernate DDL auto (create, create-drop, update)
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy  # Naming strategy

  mail:
    host: localhost
#    host: smtp.gmail.com
#    port: 587
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

springdoc:
  api-docs:
    path: /moera/api-docs
  swagger-ui:
    path: /moera/api-ui.html

node:
  version: ^project.version^
  root-secret:
  multi: none
  fcm-relay: https://fcm.moera.org/moera-push-relay
  debug:
    mock-network-latency: false
