#comments {
    border-top: 1px solid var(--gray-light);
    margin-top: .5rem;
    padding-top: 1rem;

    SUMMARY {
        font-size: large;
        color: var(--primary);
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

#comments-original {
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-light);
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
}

.comment {
    position: relative;
    margin: 0 1rem .6rem 1rem;
    width: max-content;
    max-width: calc(100% - 2rem);

    .owner {
        margin-left: .3em;
        font-weight: bold;

        A {
            color: var(--node-name);
        }
    }

    &.topic-starter .owner A {
        color: var(--node-name-ts);
    }

    .date {
        font-size: 0.8rem;
        font-weight: normal;
        color: var(--gray-medium);
        margin-left: 0.5em;

        A {
            color: inherit;
        }
    }

    .content {
        background-color: var(--comments);
        border-radius: 5px;
        padding: .5rem;
        width: max-content;
        min-width: 16rem;
        max-width: 100%;
        overflow-wrap: break-word;

        P:last-child {
            margin-bottom: 0;
        }

        @media only screen and (min-width: 901px) {
            IMG {
                max-width: calc(900px - 6.5rem);
            }
        }

        @media only screen and (max-width: 900px) {
            IMG {
                max-width: calc(100vw - 7rem);
            }
        }

        IMG {
            max-height: 16rem;
        }

        .replied-to {
            margin-bottom: .3rem;
            font-size: 90%;
            border-left: 3px var(--gray-light) solid;
            padding-left: .5em;

            A {
                text-decoration: none;
            }

            .icon {
                color: var(--gray-medium);
            }

            .node-name {
                color: var(--gray);
                font-weight: bold;
                position: relative;
                top: -.1em;
            }

            .heading {
                color: var(--gray);
                position: relative;
                top: -.1em;
                margin-left: .3em;
            }

            A:hover .heading {
                text-decoration: underline;
            }
        }
    }

    &.focused .content {
        border: dashed 1px var(--primary);
    }

    .reactions-line {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .reactions {
        flex: none;
        font-size: .8rem;
        margin-right: .3rem;
        position: relative;
        top: -.9rem;

        .positive {
            margin-right: 1em;
            box-shadow: 2px 2px 3px #ddd;
            border: solid 1px var(--reactions-positive-border);
            padding: .3em .9em;
        }

        .negative {
            margin-left: 0;
            box-shadow: 2px 2px 3px #ddd;
            border: solid 1px var(--reactions-negative-border);
            padding: .3em .9em;
        }
    }
}
