#comments {
    border-top: 1px solid var(--bs-gray-400);
    margin-top: .5rem;
    padding-top: 1rem;

    SUMMARY {
        font-size: large;
        color: var(--bs-primary);
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

#comments-original {
    border-top: 1px solid var(--bs-gray-400);
    border-bottom: 1px solid var(--bs-gray-400);
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
}

.comment {
    position: relative;
    margin-bottom: .6rem;
    width: max-content;
    max-width: 100%;
    display: flex;

    .details {
        flex: auto;
        margin-left: .25rem;
        max-width: calc(100% - .25rem - 36px);
    }

    .owner {
        margin-left: .3em;
        font-weight: bold;

        A {
            color: var(--node-name);
        }
    }

    &.topic-starter .owner A {
        color: var(--node-name-ts);
    }

    .date {
        font-size: 0.8rem;
        font-weight: normal;
        color: var(--bs-gray-500);
        margin-left: 0.5em;

        A {
            color: inherit;
        }
    }

    .content {
        background-color: var(--comments);
        border-radius: 5px;
        padding: .5rem;
        width: max-content;
        min-width: 16rem;
        max-width: calc(100% - 1rem);
        overflow-wrap: break-word;
        text-align: start;

        P:last-child {
            margin-bottom: 0;
        }

        @media only screen and (min-width: 901px) {
            IMG, IFRAME {
                max-width: calc(900px - 6.5rem);
            }
        }

        @media only screen and (max-width: 900px) {
            IMG, IFRAME {
                max-width: calc(100vw - 7rem);
            }
        }

        IMG:not(.emoji) {
            width: auto;
            height: auto;
        }

        IMG, IFRAME {
            max-width: css-min(unquote("100vw - 7rem"), unquote("var(--feed-width) - 6.5rem"), unquote("var(--width, 100vw)"));
            max-height: css-min(unquote("16rem"), unquote("var(--height, 200vh)"));
        }

        FIGCAPTION {
            line-height: 1.2;
            margin-top: .3em;
            color: var(--bs-gray-600);
            margin-left: .75em;
        }

        .replied-to {
            margin-bottom: .3rem;
            font-size: 90%;
            border-left: 3px var(--bs-gray-400) solid;
            padding-left: .5em;

            A {
                text-decoration: none;
            }

            .icon {
                color: var(--bs-gray-500);
            }

            .node-name {
                color: var(--bs-gray-600);
                font-weight: bold;
                position: relative;
                top: -.1em;
            }

            .heading {
                color: var(--bs-gray-600);
                position: relative;
                top: -.1em;
                margin-left: .3em;
            }

            A:hover .heading {
                text-decoration: underline;
            }
        }
    }

    &.focused .content {
        border: dashed 1px var(--bs-primary);
    }

    .reactions-line {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .reactions {
        flex: none;
        font-size: .8rem;
        margin-right: .3rem;
        position: relative;
        top: -.9rem;

        .positive {
            margin-right: 1em;
            box-shadow: 2px 2px 3px #ddd;
            border: solid 1px var(--reactions-positive-border);
            padding: .3em .9em;
        }

        .negative {
            margin-left: 0;
            box-shadow: 2px 2px 3px #ddd;
            border: solid 1px var(--reactions-negative-border);
            padding: .3em .9em;
        }
    }
}
