.entry {
    A:hover {
        text-decoration: underline;
    }

    A.btn:hover {
        text-decoration: none;
    }

    & > .content {
        IMG {
            width: auto;
            height: auto;
        }

        FIGCAPTION {
            font-size: smaller;
            line-height: 1.2;
            margin-top: .3em;
        }

        BLOCKQUOTE {
            padding: .2rem .2rem .2rem 2.7rem;
            position: relative;
            background-color: var(--blockquote);
            border-radius: .5rem;
            overflow: hidden;

            &::before {
                content: "\201C";
                font-family: serif;
                font-size: 4rem;
                color: var(--bs-cyan);
                position: absolute;
                left: .5rem;
                top: -1rem;
            }
        }
    }

    .entry-image {
        &:hover IMG {
            filter: brightness(90%);
        }

        &.counted {
            position: relative;

            IMG {
                filter: brightness(70%);
            }

            &:hover IMG {
                filter: brightness(60%);
            }
        }

        .count {
            display: block;
            position: absolute;
            top: calc(50% - 1ex);
            left: 0;
            width: 100%;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 200%;
            text-shadow: -2px 2px 4px var(--shadow);
            z-index: 1;
        }
    }
}
