.entry {
    .content {
        BLOCKQUOTE {
            padding: 0.2rem 0.2rem 0.2rem 2.7rem;
            position: relative;
            background-color: var(--blockquote);
            border-radius: 0.5rem;
            overflow: hidden;

            &::before {
                content: "\201C";
                font-family: serif;
                font-size: 4rem;
                color: var(--cyan);
                position: absolute;
                left: 0.5rem;
                top: -1rem;
            }
        }
    }
}
