.posting {
    @include pane;
    margin-top: 1rem;
    padding: 0.5rem;

    .pin-line {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .subject, .subject A {
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        color: var(--node-name);
    }

    & > .content {
        overflow-wrap: break-word;
    }

    &.preview > .content {
        IMG, IFRAME {
            max-height: 35rem;
        }

        @media only screen and (min-width: 901px) {
            max-height: 100vh;
            overflow-y: auto;
        }

        @media only screen and (max-width: 900px) {
            max-height: 150vh;
            overflow-y: auto;
        }
    }

    & > .owner-line {
        margin-bottom: 0.2em;

        .posting-source {
            color: var(--info);
            margin-right: .3em;
        }

        .owner {
            font-weight: bold;

            A {
                color: var(--node-name);
            }
        }

        .date {
            font-size: 0.8rem;
            font-weight: normal;
            color: var(--gray-medium);
            margin-left: 0.5em;

            A {
                color: inherit;
            }
        }
    }

    .reactions-line {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .posting-comments {
        padding-top: .4rem;
    }

    .total-comments {
        text-decoration: none;
        background-color: var(--comments);
        border-radius: .8rem;
        padding: .4rem 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
