.posting {
    @include pane;
    margin-top: 1rem;
    padding: 0.5rem;

    @media only screen and (max-width: 575px) {
        margin-top: .5rem;
    }

    .pin-line {
        font-size: .8rem;
        margin-bottom: .5rem;
    }

    .subject, .subject A {
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        color: var(--node-name);
        overflow-wrap: break-word;
    }

    & > .content {
        overflow-wrap: break-word;
        text-align: start;

        IMG, IFRAME {
            max-width: css-min(unquote("var(--feed-width) - 3.5rem"), unquote("100vw - 4rem"));
        }
    }

    &.preview > .content {
        IMG, IFRAME {
            max-height: 35rem;
        }

        IMG {
            width: auto;
            height: auto;
        }

        @media only screen and (max-width: 575px) {
            max-height: 170vh;
            overflow-y: auto;
        }

        @media only screen and (min-width: 576px) {
            max-height: 100vh;
            overflow-y: auto;
        }
    }

    & > .owner-line {
        margin-bottom: .2em;
        display: flex;

        .posting-source {
            color: var(--bs-info);
            margin-right: .3em;
        }

        .owner-info {
            flex: auto;
            margin-left: .5rem;
            margin-top: .25rem;
            line-height: 1.2;
        }

        .owner {
            font-weight: bold;

            A {
                color: var(--node-name);
            }
        }

        .date {
            font-size: .8rem;
            font-weight: normal;
            color: var(--gray-medium);

            A {
                color: inherit;
            }
        }
    }

    .reactions-line {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: .5em;
    }

    .buttons-line {
        display: flex;
        padding-top: .5rem;
        margin-top: .7rem;
        border-top: 1px solid var(--gray-light);

        .posting-button {
            flex: auto;
            max-width: 225px;
            text-align: center;
            text-decoration: none;
            color: var(--bs-gray-dark);
            padding: .3rem;
            margin-right: .3rem;
            cursor: pointer;
            font-size: 1.3rem;
            background-color: transparent;
            border: none;

            &:hover, A.posting-button:hover {
                background-color: var(--highlight);
            }

            .caption {
                margin-left: .4rem;
                font-weight: 600;
                font-size: 1rem;
                user-select: none;
            }
        }

        .buttons-invitation {
            flex: auto;
            text-align: right;
            padding-top: .3em;

            A {
                text-decoration: none;
            }
        }

        .share-popup {
            pointer-events: none;
        }

        .share-popup.show {
            pointer-events: auto;
        }
    }

    .posting-comments {
        padding-top: .4rem;
    }

    .total-comments {
        text-decoration: none;
        background-color: var(--comments);
        border-radius: .8rem;
        padding: .4rem 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
