@import 'colors';

@function css-function($function, $values...) {
	@return $function + unquote("(") + $values + unquote(")");
}

@function css-min($values...) {
	@return css-function(min, $values);
}

@function css-max($values...) {
	@return css-function(max, $values);
}

@function css-clamp($values...) {
	@return css-function(clamp, $values);
}

HTML {
    font-size: 90%;
}

BODY {
    background-color: var(--body-background);
    padding-bottom: 2rem;
}

.container {
    max-width: var(--feed-width);
}

.emoji {
    width: 1em;
    height: 1em;
}

.alert.moera-addon {
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-bottom: 0;
}

.navbar-moera {
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
        padding-right: 1rem;
    }

    .node-name {
        color: var(--cyan-light);
        font-weight: bold;

    }

    A.navbar-text:hover {
        text-decoration: none;
    }
}

@media (max-width: 767px) {
    #navbarNav {
        position: absolute;
        padding-right: 1rem;
        top: 2.5em;
        right: 1em;
        box-shadow: 0 0.125rem 0.25rem var(--shadow);
        border: solid 1px var(--gray);
    }
}

SUB.generation {
    position: relative;
    left: 0.2em;
    font-size: 60%;
    font-weight: 400;
}

.no-postings {
	font-weight: bold;
	color: color(--gray-light);
	font-size: 4rem;
	margin-top: 5rem;
}

.pagination {
    margin-top: 1rem;

    .page-link.page-dots {
        border-top: none;
        border-bottom: none;
        background-color: inherit;
    }
}

@mixin pane {
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
}

.registration-form {
    @include pane;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .title {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 1.5rem;

        EM {
            color: var(--green);
        }
    }

    .domain {
        font-weight: 500;
        font-size: large;
    }
}

.registration-next {
    @include pane;
    padding: 1rem;

    H1 {
        color: var(--green);
    }
    LI {
        font-size: 1.2rem;
    }
}

@import 'entry';
@import 'posting';
@import 'people';
@import 'reactions';
@import 'comment';
@import 'client';
@import 'profile';
