BODY {
    background-color: #e9ebee;
}

.no-postings {
	font-weight: bold;
	color: #d0d0d0;
	font-size: 4rem;
	margin-top: 5rem;
}

@mixin pane {
    background-color: #fff;
    border: #dbdbdb 1px solid;
    border-radius: 5px;
}

.posting {
    @include pane;
    margin-top: 1rem;
    padding: 0.5rem;

    .date {
        font-size: 0.8rem;
        color: #a9a9a9;
    }
}

.pagination {
    margin-top: 1rem;

    .page-link.page-dots {
        border-top: none;
        border-bottom: none;
        background-color: inherit;
    }
}

.profile-view {
    @include pane;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
}
