<button class="posting-button share-button">
    <i class="fas fa-share-alt"></i><span class="caption">Share</span>
</button>
<div class="popover bs-popover-top fade share-popup">
    <div class="popover-body shareon" data-url="{{siteUrl}}/post/{{posting.id}}" data-title="{{posting.heading}}">
        <a class="facebook"></a>
        <button class="telegram"></button>
        <button class="twitter"></button>
        <button class="reddit"></button>
        <br/>
        <a class="linkedin"></a>
        <button class="vkontakte"></button>
        <a class="mastodon"></a>
        <a class="pocket"></a>
        <br/>
        <a class="pinterest"></a>
        <button class="whatsapp"></button>
        <button class="viber"></button>
        <a class="odnoklassniki"></a>
    </div>
</div>
