{{#*inline "menuItem"}} {{! params: index, title, href}}
    {{#ifeq index menuIndex}}
        {{#assign "klass"}}nav-item active{{/assign}}
    {{else}}
        {{#assign "klass"}}nav-item{{/assign}}
    {{/ifeq}}
    <li class="{{klass}}">
        <a class="nav-link" href="{{href}}">{{title}}</a>
    </li>
{{/inline}}

<!DOCTYPE html>
<html>
    <head>
        {{optionHtml "webui.head.top.html"}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{#if ogUrl}}
            <meta property="og:url" content="{{ogUrl}}">
        {{/if}}
        {{#if ogType}}
            <meta property="og:type" content="{{ogType}}">
        {{/if}}
        {{#if ogTitle}}
            <meta property="og:title" content="{{ogTitle}}">
        {{/if}}
        {{#if ogImage}}
            <meta property="og:image" content="{{ogImage}}">
        {{/if}}
        {{#if ogImageType}}
            <meta property="og:image:type" content="{{ogImageType}}">
        {{/if}}
        {{#if ogImageWidth}}
            <meta property="og:image:width" content="{{ogImageWidth}}">
        {{/if}}
        {{#if ogImageHeight}}
            <meta property="og:image:height" content="{{ogImageHeight}}">
        {{/if}}
        {{#if ogDescription}}
            <meta property="og:description" content="{{ogDescription}}">
        {{/if}}
        {{#if ogSiteName}}
            <meta property="og:site_name" content="{{ogSiteName}}">
        {{/if}}
        {{#if ogArticlePublishedTime}}
            <meta property="article:published_time" content="{{ogArticlePublishedTime}}">
        {{/if}}
        {{#if ogArticleModifiedTime}}
            <meta property="article:modified_time" content="{{ogArticleModifiedTime}}">
        {{/if}}
        <meta name="twitter:card" content="summary">
        {{#if ogUrl}}
            <meta name="twitter:url" content="{{ogUrl}}">
        {{/if}}
        {{#if ogTitle}}
            <meta name="twitter:title" content="{{ogTitle}}">
        {{/if}}
        {{#if ogDescription}}
            <meta name="twitter:description" content="{{ogDescription}}">
        {{/if}}
        {{#if ogImage}}
            <meta name="twitter:image" content="{{ogImage}}">
        {{/if}}
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/pics/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/pics/icon-apple-touch.png">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{siteUrl}}/rss">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/fontawesome-all.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/shareon@1/dist/shareon.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" rel="stylesheet"
              integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET"
              crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/css/lightgallery-bundle.min.css" rel="stylesheet"
              integrity="sha256-S8sL5U5HwTa3JmR1y0ASCyQH111hgvPpKOkYXZHa4sA=" crossorigin="anonymous">

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/moera-spoiler-element.js"></script>
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
        <script defer src="https://unpkg.com/@popperjs/core@2"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/shareon@1/dist/shareon.min.js"></script>
        <script defer src="/js/share.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
                integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"
                crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/lightgallery.min.js"
                integrity="sha256-dkTk5cgrLUjjQiGNZsoDnjhCI+UuhTffLnyrN7qLutw=" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/zoom/lg-zoom.min.js"
                integrity="sha256-6Ny31P8WSBcY1SFaWxg4zgDzZJNNIJ4BchV+RxFiDR0=" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/pager/lg-pager.min.js"
                integrity="sha256-KaK11EjChs2LOcXCMC60JSWUg//WgyFxPrxHF8gDv44=" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/fullscreen/lg-fullscreen.min.js"
                integrity="sha256-7SXgJ9rT6uPHY7fse2NsZN7Yq96f+9I35bDtUwX8ZHc=" crossorigin="anonymous"></script>
        <script defer src="/js/gallery.js"></script>
        {{#if anchor}}
            <script>
                $(function() {
                    const element = $("a[name={{anchor}}]")[0];
                    if (element != null) {
                        element.scrollIntoView();
                        window.scrollBy(0, -$(".navbar-moera").height());
                    }
                })
            </script>
        {{/if}}
        <script>
            $(function() {
                $("span.katex").each(function() {
                    katex.render(this.innerText, this, {displayMode: false});
                });
                $("div.katex").each(function() {
                    katex.render(this.innerText, this, {displayMode: true});
                });
            })
        </script>
        <title>{{pageTitle}}</title>
    </head>
    {{assignOption "maxWidth" "feed.width"}}
    <body style="--feed-width: {{maxWidth}}px">
        <div class="alert alert-warning moera-addon" role="alert">
            {{invitation}}
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-moera sticky-top">
            <a class="navbar-brand" href="/">{{image "/pics/logo-w-32.png" alt="Moera"}}</a>
            <a class="navbar-text" href="/">{{nodename nodeName.name "" linked=false}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-dark" id="navbarNav">
                <ul class="navbar-nav ms-3 me-auto">
                    {{> menuItem index="timeline" title="TIMELINE" href="/timeline"}}
                    {{> menuItem index="profile" title="PROFILE" href="/profile"}}
                    {{> menuItem index="people" title="PEOPLE" href="/people"}}
                </ul>
            </div>
        </nav>
        <div class="container">
