{{> part/top}}

<h2>Credentials</h2>
<form id="define">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm password</label>
        <input type="password" class="form-control" id="confirm-password">
    </div>
    <button type="submit" class="btn btn-primary" id="define-submit">Setup</button>
</form>
<form id="update">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login">
    </div>
    <div class="form-group">
        <label for="password">Old password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="new-password">New password</label>
        <input type="password" class="form-control" id="new-password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm password</label>
        <input type="password" class="form-control" id="confirm-password">
    </div>
    <button type="submit" class="btn btn-primary" id="update-submit">Update</button>
</form>

{{> part/bottom}}
