{{> part/top}}

<style>
    .alert {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%
    }
</style>
<div class="alert alert-success" role="alert"></div>
<div class="alert alert-danger" role="alert"></div>

<h2>Credentials</h2>
<form id="create" style="display: none">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm password</label>
        <input type="password" class="form-control" id="confirm-password">
    </div>
    <button type="submit" class="btn btn-primary" id="create-submit">Setup</button>
</form>
<form id="update" style="display: none">
    <div class="form-group">
        <label for="old-login">Login</label>
        <input type="text" class="form-control" id="old-login">
    </div>
    <div class="form-group">
        <label for="old-password">Old password</label>
        <input type="password" class="form-control" id="old-password">
    </div>
    <div class="form-group">
        <label for="new-password">New password</label>
        <input type="password" class="form-control" id="new-password">
    </div>
    <div class="form-group">
        <label for="confirm-new-password">Confirm password</label>
        <input type="password" class="form-control" id="confirm-new-password">
    </div>
    <button type="submit" class="btn btn-primary" id="update-submit">Update</button>
</form>

{{> part/bottom}}
