{{> part/top}}

<a class="btn btn-outline-secondary btn-sm"
   href="/timeline?before={{posting.moment}}#m{{posting.moment}}">&larr; Timeline</a>

<div class="posting">
    <div class="date">
        {{cal "dd-MM-yyyy HH:mm" es=posting.publishedAt fromNow="posting.time.relative"}}
        {{#ifgt posting.totalRevisions 1}}
            (updated {{cal "dd-MM-yyyy HH:mm" es=posting.editedAt fromNow="posting.time.relative"}})
        {{/ifgt}}
    </div>
    <div class="content">{{{posting.bodyHtml}}}</div>
</div>

{{> part/bottom}}
