{{> part/top}}

{{#if posting.timelineMoment}}
    <a class="btn btn-outline-secondary btn-sm"
       href="/timeline?before={{posting.timelineMoment}}#m{{posting.timelineMoment}}">&larr; Timeline</a>
{{/if}}

<div class="posting">
    {{#if posting.timelinePinned}}
        <div class="pin-line">
            <span class="badge badge-secondary">
                <i class="fas fa-thumbtack"></i>&nbsp;
                Pinned post
            </span>
        </div>
    {{/if}}
    <div class="owner">
        {{nodename posting.ownerName}}
        {{#ifne posting.receiverName nodeName.name}}
            &#x25b8; {{nodename posting.receiverName}}
        {{/ifne}}
        <span class="date">
            {{cal "dd-MM-yyyy HH:mm" es=posting.timelinePublishedAt fromNow="posting.time.relative"}}
            {{#ifgt posting.totalRevisions 1}}
                (updated {{cal "dd-MM-yyyy HH:mm" es=posting.editedAt fromNow="posting.time.relative"}})
            {{/ifgt}}
        </span>
    </div>
    {{#if posting.body.subject}}
        <div class="subject">{{posting.body.subject}}</div>
    {{/if}}
    <div class="content">{{{posting.body.text}}}</div>
    {{reactions posting}}
</div>

{{> part/bottom}}
