{{> part/top}}

<a class="btn btn-outline-secondary btn-sm"
   href="/timeline?before={{posting.moment}}#m{{posting.moment}}">&larr; Timeline</a>

<div class="posting">
    <div class="owner">
        {{nodename posting.ownerName}}
        {{#ifne posting.receiverName nodeName.name}}
            &#x25b8; {{nodename posting.receiverName}}
        {{/ifne}}
        <span class="date">
            {{cal "dd-MM-yyyy HH:mm" es=posting.publishedAt fromNow="posting.time.relative"}}
            {{#ifgt posting.totalRevisions 1}}
                (updated {{cal "dd-MM-yyyy HH:mm" es=posting.editedAt fromNow="posting.time.relative"}})
            {{/ifgt}}
        </span>
    </div>
    {{#if posting.body.subject}}
        <div class="subject">{{posting.body.subject}}</div>
    {{/if}}
    <div class="content">{{{posting.body.text}}}</div>
    {{reactions posting.reactions}}
</div>

{{> part/bottom}}
