{{> part/top}}

<h2 class="ml-2 ml-sm-0">Profile</h2>
<div class="profile-view">
    {{avatar profile.avatar 200}}
    <div class="full-name">
        {{#if profile.fullName}}
            {{profile.fullName}}
        {{else}}
            {{shortName nodeName.name}}
        {{/if}}
        {{#if profile.gender}}
            <span class="gender">{{shortGender profile.gender}}</span>
        {{/if}}
    </div>
    {{#if nodeName.name}}
        <div class="name">@{{shortName nodeName.name}}</div>
    {{/if}}
    {{#if profile.title}}
        <div class="title">{{profile.title}}</div>
    {{/if}}
    {{#if profile.bioHtml}}
        <div class="bio">{{{profile.bioHtml}}}</div>
    {{/if}}
</div>

{{> part/bottom}}
