{{> part/top}}

<h2>Profile</h2>
<div class="profile-view">
    <dl class="row">
        <dt class="col-sm-3">Node name</dt>
        <dd class="col-sm-9">
            {{nodename nodeName.name linked=false}}
        </dd>
        {{#if profile.fullName}}
            <dt class="col-sm-3">Full name</dt>
            <dd class="col-sm-9">
                {{profile.fullName}}
            </dd>
        {{/if}}
        {{#if profile.gender}}
            <dt class="col-sm-3">Gender</dt>
            <dd class="col-sm-9">
                {{profile.gender}}
            </dd>
        {{/if}}
        {{#if profile.email}}
            <dt class="col-sm-3">E-mail</dt>
            <dd class="col-sm-9">
                {{profile.email}}
            </dd>
        {{/if}}
    </dl>
</div>

{{> part/bottom}}
