{{> part/top}}

{{> part/pagetitle }}

<div class="people">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/people/subscribers">
                Subscribers {{#if subscribersTotal}}<span class="badge">{{subscribersTotal}}</span>{{/if}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/people/subscriptions">
                Subscriptions {{#if subscriptionsTotal}}<span class="badge">{{subscriptionsTotal}}</span>{{/if}}
            </a>
        </li>
    </ul>

    <main class="people-content">
        {{#each subscriptions}}
            <div class="person">
                {{avatar contact.avatar 40 nodeName=remoteNodeName}}
                <div class="details">
                    {{fullName remoteNodeName contact.fullName linked="true" class="full-name"}}
                    <div class="name">@{{shortName remoteNodeName}}</div>
                </div>
            </div>
        {{/each}}
    </main>
</div>

{{> part/bottom}}
