{{> part/top}}

{{> part/pagetitle }}

<div class="people">
    <div class="people-tabs">
        <div class="tab">
            Subscribers {{#if subscribersTotal}}({{subscribersTotal}}){{/if}}
        </div>
        <a class="tab" href="/people/subscriptions">
            Subscriptions {{#if subscriptionsTotal}}({{subscriptionsTotal}}){{/if}}
        </a>
        <div class="rest"></div>
    </div>

    <div class="row">
        {{#each subscribers}}
            <div class="person col-sm-4">
                {{avatar contact.avatar 48 nodeName=nodeName}}
                {{nodename nodeName contact.fullName}}
            </div>
        {{/each}}
    </div>
</div>

{{> part/bottom}}
