{{> part/top}}

<h2 class="ms-2 ms-sm-0">
    <a href="/profile" title="Profile" class="avatar-link">{{avatar nodeAvatar 40}}</a>
    People
</h2>

<div class="people">
    <div class="people-tabs">
        <div class="tab">
            Subscribers {{#if subscribersTotal}}({{subscribersTotal}}){{/if}}
        </div>
        <a class="tab" href="/people/subscriptions">
            Subscriptions {{#if subscriptionsTotal}}({{subscriptionsTotal}}){{/if}}
        </a>
        <div class="rest"></div>
    </div>

    <div class="row">
        {{#each subscribers}}
            <div class="person col-sm-4">
                <a href="/profile" title="Profile">{{avatar avatar 48}}</a>
                {{nodename nodeName fullName}}
            </div>
        {{/each}}
    </div>
</div>

{{> part/bottom}}
