{{> part/top}}

<h2>Timeline</h2>

{{#unless stories}}
    <div class="no-postings">Nothing yet.</div>
{{/unless}}

{{#each stories}}
    <a name="m{{moment}}"></a>
    <div class="posting">
        {{#if pinned}}
            <div class="pin-line">
                <span class="badge badge-secondary">
                    <i class="fas fa-thumbtack"></i>&nbsp;
                    Pinned post
                </span>
            </div>
        {{/if}}
        <div class="owner">
            {{nodename posting.ownerName}}
            {{#if posting.receiverName}}
                {{#ifne posting.receiverName posting.ownerName}}
                    &#x25b8; {{nodename posting.receiverName}}
                {{/ifne}}
            {{/if}}
            <span class="date">
                <a href="/post/{{posting.id}}">{{cal "dd-MM-yyyy HH:mm" es=publishedAt
                                                     fromNow="posting.time.relative"}}</a>
                {{#ifgt posting.totalRevisions 1}}
                    (updated {{cal "dd-MM-yyyy HH:mm" es=posting.editedAt fromNow="posting.time.relative"}})
                {{/ifgt}}
            </span>
        </div>
        {{#if posting.bodyPreview.subject}}
            <div class="subject"><a href="/post/{{posting.id}}">{{posting.bodyPreview.subject}}</a></div>
        {{else}}
            {{#if posting.body.subject}}
                <div class="subject"><a href="/post/{{posting.id}}">{{posting.body.subject}}</a></div>
            {{/if}}
        {{/if}}
        {{#if posting.bodyPreview.text}}
            <div class="content">
                <div>{{{posting.bodyPreview.text}}}</div>
                <p><a href="/post/{{posting.id}}">Continue Reading &rarr;</a></p>
            </div>
        {{else}}
            <div class="content">{{{posting.body.text}}}</div>
        {{/if}}
        {{reactions posting}}
    </div>
{{/each}}

{{#if pagination}}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {{#each pagination}}
                {{#if dots}}
                    <li class="page-item"><span class="page-link page-dots">⋯</span></li>
                {{else}}
                    {{#if active}}
                        <li class="page-item active"><span class="page-link">{{title}}</span></li>
                    {{else}}
                        <li class="page-item">
                            {{#if first}}
                                <a class="page-link" href="/timeline">{{title}}</a>
                            {{else}}
                                <a class="page-link" href="/timeline?before={{moment}}">{{title}}</a>
                            {{/if}}
                        </li>
                    {{/if}}
                {{/if}}
            {{/each}}
        </ul>
    </nav>
{{/if}}

{{> part/bottom}}
