{{> part/top}}

<h2>Timeline</h2>

{{#unless postings}}
    <div class="no-postings">Nothing yet.</div>
{{/unless}}

{{#each postings}}
    <a name="m{{moment}}"></a>
    <div class="posting">
        <div class="owner">
            {{regname ownerName}}
            {{#ifne receiverName registeredName.name}}
                &#x25b8; {{regname receiverName}}
            {{/ifne}}
        </div>
        <div class="date">
            <a href="/post/{{id}}">{{cal "dd-MM-yyyy HH:mm" es=publishedAt fromNow="posting.time.relative"}}</a>
            {{#ifgt totalRevisions 1}}
                (updated {{cal "dd-MM-yyyy HH:mm" es=editedAt fromNow="posting.time.relative"}})
            {{/ifgt}}
        </div>
        {{#if bodyPreview.text}}
            <div class="content">
                <div>{{{bodyPreview.text}}}</div>
                <a href="/post/{{id}}">Continue Reading &rarr;</a>
            </div>
        {{else}}
            <div class="content">{{{body.text}}}</div>
        {{/if}}
    </div>
{{/each}}

{{#if pagination}}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {{#each pagination}}
                {{#if dots}}
                    <li class="page-item"><span class="page-link page-dots">⋯</span></li>
                {{else}}
                    {{#if active}}
                        <li class="page-item active"><span class="page-link">{{title}}</span></li>
                    {{else}}
                        <li class="page-item">
                            {{#if first}}
                                <a class="page-link" href="/timeline">{{title}}</a>
                            {{else}}
                                <a class="page-link" href="/timeline?before={{moment}}">{{title}}</a>
                            {{/if}}
                        </li>
                    {{/if}}
                {{/if}}
            {{/each}}
        </ul>
    </nav>
{{/if}}

{{> part/bottom}}
