<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Request to delete node</subject>
    </headers>
    <content>
        <p>
            Administrator of the node '{{nodeName}}' ({{domainName}}) has just asked to delete their node.
        </p>
        <p>
            === MESSAGE FROM THE ADMINISTRATOR ({{email}}) ===
        </p>
        {{#if adminMessage}}
            <p>
                {{adminMessage}}
            </p>
        {{/if}}
        <p>
            === END OF MESSAGE ===
        </p>
        <p>
            Best regards,<br/>
            Moera Blog Notification Service<br/>
            (This is an automated message, please do not reply.)
        </p>
    </content>
</mail>
