<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Potwierdź swój adres e-mail</subject>
    </headers>
    <content>
        <p>
            Otrzymujesz tę wiadomość, ponieważ {{email}} ustawiono jako główny adres e-mail dla Twojego bloga Moera
            '{{nodeName}}'.
            Kliknij poniższy link, aby potwierdzić swój adres e-mail:
        </p>
        <p>
            https://{{domainName}}/moera/profile/verify-email?token={{token}}
        </p>
        <p>
            Jeśli nie prosiłeś(-aś) o tę zmianę, możesz zignorować tę wiadomość — w Twoim blogu nie zostaną wprowadzone
            żadne zmiany.
        </p>
        <p>
            Po potwierdzeniu ten adres e-mail może być użyty do odzyskania hasła, jeśli je zapomnisz.
            Pamiętaj, że 24 słowa-klucze używane do zarządzania Twoją nazwą Moera nie mogą zostać odzyskane ani
            zresetowane przez e-mail.
        </p>
        <p>
            Z poważaniem,<br/>
            Moera Blog Notification Service<br/>
            (To wiadomość automatyczna, prosimy nie odpowiadać.)
        </p>
    </content>
</mail>
