<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Підтвердьте вашу адресу электронної пошти</subject>
    </headers>
    <content>
        <p>
            Ви отримали цей лист, оскільки {{email}} було вказано як основну адресу электронної пошти для вашого блогу
            на Moera '{{nodeName}}'.
            Будь ласка, перейдіть за посиланням нижче, щоб підтвердити адресу электронної пошти:
        </p>
        <p>
            https://{{domainName}}/moera/profile/verify-email?token={{token}}
        </p>
        <p>
            Якщо ви не запитували цю зміну, можете проігнорувати цей лист — на цю адресу листи більше надсилатися не
            будуть.
        </p>
        <p>
            Після підтвердження цю адресу электронної пошти можна буде використати для скидання пароля, якщо ви його
            забудете.
            Зверніть увагу, що 24 ключові слова для керування вашим ім’ям Moera не можна відновити або скинути через
            электронну пошту.
        </p>
        <p>
            З повагою,<br/>
            Moera Blog Notification Service<br/>
            (Це автоматичне повідомлення, будь ласка, не відповідайте.)
        </p>
    </content>
</mail>
