{{> mail/part/top}}
<p>
    Вы получили это письмо, потому что <b>{{email}}</b> был указан как основной адрес электронной почты для вашего блога
    на Moera
    <a href="https://moera.page/@{{nodeName}}/{{domainName}}/"><b>{{nodeName}}</b></a>.
    Пожалуйста, нажмите на кнопку ниже, чтобы подтвердить адрес электронной почты:
</p>
<p>
    <a href="https://{{domainName}}/moera/profile/verify-email?token={{token}}" class="confirm">Подтвердить e-mail</a>
</p>
<p>
    Если вы не запрашивали это изменение, можете просто игнорировать это письмо — никаких изменений в вашем блоге не
    будет.
</p>
<p>
    После подтверждения этот адрес электронной почты может использоваться для восстановления пароля, если вы его
    забудете.
    Обратите внимание, что 24 ключевых слова для управления вашим именем Moera нельзя восстановить или сбросить по
    электронной почте.
</p>
{{> mail/part/bottom_ru}}
