{{> mail/part/top}}
<p>
    Otrzymujesz tę wiadomość, ponieważ <b>{{email}}</b> ustawiono jako główny adres e-mail dla Twojego bloga Moera
    <a href="https://moera.page/@{{nodeName}}/{{domainName}}/"><b>{{nodeName}}</b></a>.
    Kliknij poniższy przycisk, aby potwierdzić swój adres e-mail:
</p>
<p>
    <a href="https://{{domainName}}/moera/profile/verify-email?token={{token}}" class="confirm">Potwierdź e-mail</a>
</p>
<p>
    Jeśli nie prosiłeś(-aś) o tę zmianę, możesz zignorować tę wiadomość — w Twoim blogu nie zostaną wprowadzone
    żadne zmiany.
</p>
<p>
    Po potwierdzeniu ten adres e-mail może być użyty do odzyskania hasła, jeśli je zapomnisz.
    Pamiętaj, że 24 słowa-klucze używane do zarządzania Twoją nazwą Moera nie mogą zostać odzyskane ani zresetowane
    przez e-mail.
</p>
{{> mail/part/bottom_pl}}
