<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Confirmation E-mail</subject>
    </headers>
    <content>
        <p>
            This mail is just a confirmation that this e-mail address was set by owner of Moera node
        </p>
        <p>
            {{domainName}}
        </p>
        <p>
            as their primary e-mail address. Reply to this mail, if you have no relation to the Moera node mentioned
            above. Otherwise, no action is needed.
        </p>
        <p>
            This e-mail address may be used to restore your password in case you've forgotten it. Note that 24 keywords
            that are used to manage your Moera name cannot be restored this way.
        </p>
        <p>
            Automatically yours,<br/>
            Moera node mailing service
        </p>
    </content>
</mail>
