<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Подтвердите ваш адрес электронной почты</subject>
    </headers>
    <content>
        <p>
            Вы получили это письмо, потому что {{email}} был указан как основной адрес электронной почты для вашего
            блога на Moera '{{nodeName}}'.
            Пожалуйста, перейдите по ссылке ниже, чтобы подтвердить адрес электронной почты:
        </p>
        <p>
            https://{{domainName}}/moera/profile/verify-email?token={{token}}
        </p>
        <p>
            Если вы не запрашивали это изменение, можете просто игнорировать это письмо — никаких изменений в вашем
            блоге не будет.
        </p>
        <p>
            После подтверждения этот адрес электронной почты может использоваться для восстановления пароля, если вы его
            забудете.
            Обратите внимание, что 24 ключевых слова для управления вашим именем Moera нельзя восстановить или сбросить
            по электронной почте.
        </p>
        <p>
            С уважением,<br/>
            Moera Blog Notification Service<br/>
            (Это автоматическое сообщение, пожалуйста, не отвечайте.)
        </p>
    </content>
</mail>
