{{> mail/part/top}}
<p>
    Ви отримали цей лист, оскільки <b>{{email}}</b> було вказано як основну адресу электронної пошти для вашого блогу на
    Moera
    <a href="https://moera.page/@{{nodeName}}/{{domainName}}/"><b>{{nodeName}}</b></a>.
    Будь ласка, натисніть кнопку нижче, щоб підтвердити адресу электронної пошти:
</p>
<p>
    <a href="https://{{domainName}}/moera/profile/verify-email?token={{token}}" class="confirm">Підтвердити e-mail</a>
</p>
<p>
    Якщо ви не запитували цю зміну, можете проігнорувати цей лист — жодних змін у вашому блозі не буде.
</p>
<p>
    Після підтвердження цю адресу электронної пошти можна буде використати для скидання пароля, якщо ви його забудете.
    Зверніть увагу, що 24 ключові слова для керування вашим ім’ям Moera не можна відновити або скинути через электронну
    пошту.
</p>
{{> mail/part/bottom_uk}}
