<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Password Reset</subject>
    </headers>
    <content>
        <p>
            Somebody (possibly you) requested a password reset for your Moera blog {{domainName}}.
            To set a new password, please use the following verification code:
        </p>
        <p>
            {{token}}
        </p>
        <p>
            If you did not request a password reset, you can safely ignore this email — your blog will remain secure and
            no changes will be made to your account.<br/>
            For your security, do not share this code with anyone.
        </p>
        <p>
            Best regards,<br/>
            Moera Blog Notification Service<br/>
            (This is an automated message, please do not reply.)
        </p>
    </content>
</mail>
