<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Сброс пароля</subject>
    </headers>
    <content>
        <p>
            Кто-то (возможно, вы) запросил сброс пароля для вашего блога Moera {{domainName}}.
            Чтобы установить новый пароль, используйте следующий код подтверждения:
        </p>
        <p>
            {{token}}
        </p>
        <p>
            Если вы не запрашивали сброс пароля, можете игнорировать это письмо — ваш блог останется в безопасности и
            никаких изменений в учетной записи не будет.<br/>
            В целях безопасности никому не сообщайте этот код.
        </p>
        <p>
            С уважением,<br/>
            Moera Blog Notification Service<br/>
            (Это автоматическое сообщение, пожалуйста, не отвечайте.)
        </p>
    </content>
</mail>
