<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Скидання пароля</subject>
    </headers>
    <content>
        <p>
            Хтось (можливо, ви) запросив скидання пароля для вашого блогу Moera {{domainName}}.
            Щоб встановити новий пароль, використайте наведений нижче код підтвердження:
        </p>
        <p>
            {{token}}
        </p>
        <p>
            Якщо ви не запитували скидання пароля, можете проігнорувати цей лист — ваш блог залишиться в безпеці й
            жодних змін в обліковому записі не буде.<br/>
            З міркувань безпеки нікому не повідомляйте цей код.
        </p>
        <p>
            З повагою,<br/>
            Moera Blog Notification Service<br/>
            (Це автоматичне повідомлення, будь ласка, не відповідайте.)
        </p>
    </content>
</mail>
