{{> mail/part/top}}
<p>
    Хтось (можливо, ви) запросив скидання пароля для вашого блогу Moera <b>{{domainName}}</b>.
    Щоб встановити новий пароль, використайте наведений нижче код підтвердження:
</p>
<p class="secret-code">
    {{token}}
</p>
<p>
    Якщо ви не запитували скидання пароля, можете проігнорувати цей лист — ваш блог залишиться в безпеці й
    жодних змін в обліковому записі не буде.<br>
    З міркувань безпеки <b>нікому не повідомляйте цей код</b>.
</p>
{{> mail/part/bottom_uk}}
