<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Reset hasła</subject>
    </headers>
    <content>
        <p>
            Ktoś (być może Ty) poprosił o reset hasła do Twojego bloga Moera {{domainName}}.
            Aby ustawić nowe hasło, użyj poniższego kodu weryfikacyjnego:
        </p>
        <p>
            {{token}}
        </p>
        <p>
            Jeśli nie prosiłeś(-aś) o reset hasła, możesz zignorować tę wiadomość — Twój blog pozostanie bezpieczny
            i żadne zmiany na koncie nie zostaną wprowadzone.<br/>
            Dla bezpieczeństwa nie udostępniaj tego kodu nikomu.
        </p>
        <p>
            Z poważaniem,<br/>
            Moera Blog Notification Service<br/>
            (To wiadomość automatyczna, prosimy nie odpowiadać.)
        </p>
    </content>
</mail>
