{{> mail/part/top}}
<p>
    Кто-то (возможно, вы) запросил сброс пароля для вашего блога Moera <b>{{domainName}}</b>.
    Чтобы установить новый пароль, используйте следующий код подтверждения:
</p>
<p class="secret-code">
    {{token}}
</p>
<p>
    Если вы не запрашивали сброс пароля, можете игнорировать это письмо — ваш блог останется в безопасности и
    никаких изменений в учетной записи не будет.<br>
    В целях безопасности <b>никому не сообщайте этот код</b>.
</p>
{{> mail/part/bottom_ru}}
