<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Password reset</subject>
    </headers>
    <content>
        <p>
            Somebody (possibly you) asked to reset password to your Moera node. To set a new password, use
            the following secret code:
        </p>
        <p>
            {{token}}
        </p>
        <p>
            If you did not ask to reset your password, you do not need to do anything, your node is still safe. Do not
            pass this code to anybody!
        </p>
        <p>
            Automatically yours,<br/>
            Moera node mailing service
        </p>
    </content>
</mail>
