<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/fontawesome-all.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/registrar.js"></script>
        <title>Get a blog | Moera</title>
    </head>
    <body>
        <div class="ml-3 mt-3">{{image "/pics/logo-64.png" alt="Moera"}}</div>
        <div class="container">
            <div class="registration-form">
                <div class="title">Get a <em>free</em> blog</div>
                <form>
                    <div class="form-group row">
                        <input id="host" type="text" name="host" class="form-control offset-md-3 offset-1 col-3"
                               placeholder="Choose a domain name" autofocus>
                        <span class="form-text col-auto domain">.{{registrarDomain}}</span>
                        <small class="form-text text-muted offset-md-3 col-md-8 pl-md-0">
                            May contain latin letters, digits and minus (-) sign, must start with a letter
                        </small>
                    </div>
                    <button id="host-submit" type="submit" class="btn btn-success btn-lg offset-md-5 mb-3">
                        Create a blog
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
