{{> registrar/part/top}}

<div class="registration-next">
    <h1>Congratulations! <a href="{{siteUrl}}">Your blog</a> was created.</h1>

    <h2 class="mt-4 mb-2">What is next?</h2>
    <ol>
        <li>
            Go to your blog at <a href="{{siteUrl}}">{{siteUrl}}</a>. The Moera client will be loaded automatically and
            Moera logo in the top-left corner of the page will become orange.
            <p class="mt-1">{{image "/pics/registrar/logo.png"}}</p>
        </li>
        <li>
            Click "Connect" button in the top-right corner of the page.
            <p class="mt-1">{{image "/pics/registrar/connect.gif"}}</p>
        </li>
        <li>
            In "Connect To Home" dialog, check "Password haven't been set yet" checkbox and enter the password you want
            to set.
            <p class="mt-1">{{image "/pics/registrar/connect-dialog.gif"}}</p>
        </li>
        <li>
            Now your blog is under your control.
        </li>
    </ol>
    <h2 class="mt-4 mb-2">Creating a Moera name</h2>
    <p>
        Moera name is used for communication between Moera users. It is yours regardless of the location of the blog.
    </p>
    <ol>
        <li>
            Open your PROFILE and click the blue button "Register New".
            <p class="mt-1">{{image "/pics/registrar/register-new.gif"}}</p>
        </li>
        <li>
            Enter the name you want. It must have at least 4 characters and may contain any letters (upper or lower
            case, latin or non-latin), digits and some punctuation.
            <p class="mt-1">{{image "/pics/registrar/enter-name.gif"}}</p>
        </li>
        <li>
            If the name is correct and available, a list of 24 words will be shown. These words are needed to control
            the name. Save them however you want: make a screenshot, print, write down. The order of the words is
            important.
            <p class="mt-1">{{image "/pics/registrar/secret-words.png"}}</p>
        </li>
        <li>
            In a minute the name will appear in your blog.
            <p class="mt-1">{{image "/pics/registrar/name.png"}}</p>
        </li>
    </ol>
    <h4 class="mt-4 mb-2 text-center">That's all! Now you can create your first post.</h4>
</div>

{{> registrar/part/bottom}}
